language: python
python:
  - "2.7"
install: 
  - "pip install -r requirements.txt --use-mirrors"
  - "pip install -r requirements-dev.txt --use-mirrors"
  - "python setup.py develop"
script: fab test
