# /!\
# If you add a lib here, please include a short description of what it's doing
#


# Script
fabric
# Running tests
nose==1.2.1
# Documentation
Sphinx==1.1.3
# Releaser tool
zest.releaser==3.44
# Package checking
pyroma==1.4
# Syntax checking
flake8==2.0
