# If you add a lib here, please include a short description of what it's doing

mock==1.0.1

# Coverage
coverage==3.7.1

# Coverage service
coveralls==0.4

# Test runner
pytest==2.5.1

# Syntax checking
flake8==2.4.1
pyflakes==0.8.1
pep8==1.5.7
pep257==0.5.0
flake8-docstrings==0.2.1.post1

# Multi-version testing
tox==1.6.1

# Freeze time
freezegun==0.2.8

# For tests
sqlalchemy==0.9.1
schematics==1.0.2
