# If you add a lib here, please include a short description of what it's doing

# Documentation
Sphinx==1.3b2
# Releaser tool
zest.releaser==5.5
# Package checking
pyroma==1.6
# Check packages version
pip-tools==0.3.4
# Better pdb
ipdb==0.8
